
@{
    ViewBag.Title = "ProjectPriceline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Huntington National Bank,Cincinnati, OH</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            color: #f5f6f7;
        }

        p {
            font-size: 16px;
        }

        h3 {
            font-size: 20px;
        }

        .margin {
            margin-bottom: 25px;
        }

        .bg-1 {
            background-color: #F7F55B; /* Chrome */
            color: #555555;
        }

        .container-fluid-1 {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="container-fluid-1 bg-1 ">
        <h3 class="margin text-center"><b><u>Priceline.com, Norwalk, CT</u></b></h3>
        <p>
            <ul>
                <li>Involve in all the phases of Software Development Life Cycle (SDLC) including Analysis, Design, Programming, Testing and Deployment.</li>
                <li>Created the application in .NET framework and implemented logic using C# and OOPS concepts.</li>
                <li>Worked with ASP.NET MVC for creating views to display data by making Ajax calls to action methods in MVC controllers.</li>
                <li>Deal with ASP.NET server-side state management features such as application state, session state and profile properties using C#.NET.</li>
                <li>Implemented Data access layer-using ADO.NET to connect and retrieve or manipulate database information.</li>
                <li>Designed and developed database tables and stored procedures for different WCF services and tools.</li>
                <li>Involved in using Visual Studio with server-side applications.</li>
                <li>Used ASP.NET AJAX for calling Web Services without writing a lot of custom JavaScript code to handle the request and response messages.</li>
                <li>Developed the UI modules using HTML5, JavaScript and CSS3.</li>
                <li>Created Angular components like controllers, services, directives and forms to collect different user data and implemented form validation in Angular.JS.</li>
                <li>Implemented Eager Loading and Explicit Loading, Compiled queries, Immediate Execution to improve performance to LINQ to Entities.</li>
                <li>Used ADO.NET to connect the web forms to data source - SQL Server and Xml files for manipulating data in database.</li>
                <li>Involved in creating stored procedures, triggers, and views in SQL Server for data manipulation and retrieval using T-SQL.</li>
                <li>Followed Agile Methodology which involves daily scrums meetings and Sprint meetings (planning, Review
                Retro) to meet deadlines and expectations.</li>
                <li>Participated in various Client meetings with the team and the Project manager to discuss improvements /amendments in the development of the section.</li>
            </ul>
        </p>
    </div>
</body>
</html>
<h2>Priceline.com </h2>

