
@{
    ViewBag.Title = "ProjectHuntington";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
        <title>Huntington National Bank,Cincinnati, OH</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            color: #f5f6f7;
        }

        p {
            font-size: 16px;
        }
        h3{
            font-size:20px;
        }

        .margin {
            margin-bottom: 25px;
        }
        .bg-1 {
            background-color: #F7F55B; /* Chrome */
            color: #555555;
        }
        .container-fluid-1 {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="container-fluid-1 bg-1 ">
        <h3 class="margin text-center"><b><u>Huntington National Bank,Cincinnati, OH</u></b></h3>
        <p>
            <ul>
                <li>Involved in requirement gathering, requirement analysis, defining scope, and design by reverse engineering the existing application.  </li>
                <li>Involved in the creation of a lot of User controls and custom controls using C#, ASP.NET that build up the pages.</li>
                <li>Created and deployed ASP.NET (MVC) using C# used them to generate a web application.</li>
                <li>Involved in coding and designing ASP.NET Master Pages, Themes, and Skins.</li>
                <li>Utilized C# generics, delegates, events, extension methods, anonymous types, and lambda expressions.</li>
                <li>Designed different components using C#.NET and built N-Tier architecture with extensive use of object oriented programming techniques likes Inheritance, Interfaces etc.</li>
                <li>Used ASP.NET Data Grid, Data List and Repeater controls for displaying the data in a clear format.</li>
                <li>Worked on Built-in Generic CRUD Methods in controller and ADO.NET CRUD Methods in Data Access Layer.</li>
                <li>Consumed WCF Services responsible for communicating and providing real time data from integrated servers to client applications.</li>
                <li>Developed a web application by using ASP.NET MVC, Web API with Entity Framework (EF) in the environment of Visual Studio.</li>
                <li>Used ASP.NET Validation Controls for Server-side Validation.</li>
                <li>Worked on UI layer using HTML5, CSS3 to build rich, flexible and user interactive web pages.</li>
                <li>Performed DOM manipulations, create Templates, Directives, Factories, Controllers, and established two-way Data binding using Angular JS.</li>
                <li>Utilized LINQ to Entities extensively for data retrieving, Querying, storing and manipulation.</li>
                <li>Used ADO.NET for database connectivity and populated back-end data using SQL Server.</li>
                <li>Used SQL as database for writing SQL queries, joins and stored procedures.</li>
                <li>Worked on Agile, SCRUM development methodology. Used TFS server for version control and to manage agile methodology.</li>
                <li>Performing analysis into the different stages of the system development life cycle in order to support development and testing efforts, identify positive and negative trends, and formulate recommendations for process improvements and development standards.</li>
            </ul>
        </p>
    </div>
</body>
</html>
    <h2>Huntington National Bank</h2>

