@{
    ViewBag.Title = "ProjectCapeGemini";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>CapeGemini, India</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        body {
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            color: #f5f6f7;
        }

        p {
            font-size: 16px;
        }

        h3 {
            font-size: 20px;
        }

        .margin {
            margin-bottom: 25px;
        }

        .bg-1 {
            background-color: #F7F55B; /* Chrome */
            color: #555555;
        }

        .container-fluid-1 {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    </style>

</head>
<body>
    <div class="container-fluid-1 bg-1 ">
        <h3 class="margin text-center"><b><u>Capgemini, India</u></b></h3>
        <p>
            <ul>
                <li>Performed facets of design, application development and deployment within the .NET architecture based on programming guidelines/standards.</li>
                <li>Developed ASP.NET web pages using Web Server controls and HTML.</li>
                <li>Used the concepts of Object Oriented Programming (OOP) techniques and created classes in C#.NET. </li>
                <li>Involved in writing Cascading Style Sheets (CSS) for styles, and calling them in ASP.NET Pages.</li>
                <li>Implemented input validations using .NET Validation Controls. </li>
                <li>Developed personalized views using Themes and Master Pages.</li>
                <li>Responsible for developing the presentation layer using HTML, CSS, JavaScript and .NET server controls. </li>
                <li>Created Angular.JS Controller Which Isolate scopes perform operations in UI. </li>
                <li>Using ADO.NET and Entity framework to communicate with the database.</li>
                <li>Used Stored Procedures, Database routines for fixing up the standard Specifications.</li>
                <li>Also worked on Windows based application project.</li>
                <li>Implemented new enhancement in .NET framework.</li>
                <li>Used WPF, WinForms, Infragistics to create interactive UI.</li>
                <li>Create Data Access layer for the application using ADO.NET.</li>
                <li>Implemented WCF services for exchange of data within multiple company products.</li>
                <li>At the end of each sprint, project priorities, designing, validations are evaluated and tested.</li>
            </ul>
        </p>
    </div>
</body>
</html>
