
@{
    ViewBag.Title = "ProjectPrudentialFinancials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Huntington National Bank,Cincinnati, OH</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            color: #f5f6f7;
        }

        p {
            font-size: 16px;
        }

        h3 {
            font-size: 20px;
        }

        .margin {
            margin-bottom: 25px;
        }

        .bg-1 {
            background-color: #F7F55B; /* Chrome */
            color: #555555;
        }

        .container-fluid-1 {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="container-fluid-1 bg-1 ">
        <h3 class="margin text-center"><b><u>Prudential Financials, Newark, NJ</u></b></h3>
        <p>
            <ul>
                <li>Gathered functional, business, and technical requirements and prepared the requirement documents.</li>
                <li>Designed and developed the complete system development life cycle like system analysis, design, development, and implementing of the architecture.</li>
                <li>Involved in Design, Development and Testing of Web Forms and Web Services using ASP.NET and .NET Framework</li>
                <li>Developed various ASP.NET user controls and custom controls for the ASP.NET forms.</li>
                <li>Designed the internal applications using C#, ASP.NET technologies.</li>
                <li>Used C#.NET for back end code.</li>
                <li>Designed GUI using C# and ASP.NET.</li>
                <li>Used CSS and ASP.NET for designing the web pages, Mater pages and user controls.</li>
                <li>Developed various Data Service classes to connect and manipulate data using ADO.NET.</li>
                <li>Developed system services SOA application platform for use by all web applications utilizing Windows Communication Foundation (WCF) services.</li>
                <li>Developing the custom features in Visual Studio based on the specifications and technical designs.</li>
                <li>Worked with ASP.NET web forms, Master Pages, Web Services, and State Management, Caching features, Configuring Optimizations and securing the web application.</li>
                <li>HTML5, CSS3, HTML controls, Web-Server controls were used to create web pages.</li>
                <li>Involved in writing Angular.JS code for developing Single page Architecture/Applications (SPA), used several in built language core directives, expressions and modules.</li>
                <li>Created Entity classes, relationships between entity classes using LINQ (Language Integrated Query) to SQL, LINQ to objects and LINQ to XML to manage relational data as objects.</li>
                <li>Worked on SQL stored procedures, functions and Triggers to Create and modify existing tables and stored procedures in ADO.NET and tested them on testing and production servers.</li>
                <li>Performed data modeling by using normalization rules in SQL Server. Create and access database objects by using TSQL in MS SQL Server.</li>
                <li>Involved in testing and debugging, Used Team Foundation Server (TFS) for Project management</li>
                <li>Worked in the Agile Scrum SDLC Process with daily scrum calls, sprint planning's and retrospective meetings.</li>
                <li>Involved in the design of the database and developed stored procedures, for implementing the business rules.</li>
            </ul>
        </p>
    </div>
</body>
</html>
<h2>Prudential Financials</h2>
